In [29]:
import pandas as pd

In [30]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")
movies = movies.merge(credits,on='title')
movies

,Unnamed: 0,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4769,4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4770,4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4771,4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4772,4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4773,4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [31]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [32]:
for i in movies['genres']:
    print(i)
    break

[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

In [33]:
def cnvt(given):
    ans = []
    x = eval(given)
    for i in x:
        ans.append(i['name'])
    return ans

In [34]:
movies['genres'] = movies['genres'].apply(cnvt)
movies

,Unnamed: 0,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,3,250000000,"[Action, Crime, Drama, Thriller]",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,4,260000000,"[Action, Adventure, Science Fiction]",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4769,4798,220000,"[Action, Crime, Thriller]",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4770,4799,9000,"[Comedy, Romance]",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4771,4800,0,"[Comedy, Drama, Romance, TV Movie]",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4772,4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4773,4802,0,[Documentary],NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [35]:
movies = movies[['title','genres','id','vote_count','vote_average']]
movies

,title,genres,id,vote_count,vote_average
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",19995,11800,7.2
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",285,4500,6.9
2,Spectre,"[Action, Adventure, Crime]",206647,4466,6.3
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",49026,9106,7.6
4,John Carter,"[Action, Adventure, Science Fiction]",49529,2124,6.1
...,...,...,...,...,...
4769,El Mariachi,"[Action, Crime, Thriller]",9367,238,6.6
4770,Newlyweds,"[Comedy, Romance]",72766,5,5.9
4771,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]",231617,6,7.0
4772,Shanghai Calling,[],126186,7,5.7
4773,My Date with Drew,[Documentary],25975,16,6.3

In [36]:
checking = movies
ans = pd.DataFrame(columns=['title','genres','id','vote_count','vote_average'])
selection = ['Action','Fantasy','Romance']
for i in selection:
    for j in range(len(checking)):
        try:
            if i in checking['genres'][j]:
                ans = pd.concat([ans,checking.loc[j:j]])
        except:
            pass
    checking = ans
ans.head(10)

,title,genres,id,vote_count,vote_average
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",19995,11800,7.2
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",285,4500,6.9
2,Spectre,"[Action, Adventure, Crime]",206647,4466,6.3
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",49026,9106,7.6
4,John Carter,"[Action, Adventure, Science Fiction]",49529,2124,6.1
5,Spider-Man 3,"[Fantasy, Action, Adventure]",559,3576,5.9
7,Avengers: Age of Ultron,"[Action, Adventure, Science Fiction]",99861,6767,7.3
9,Batman v Superman: Dawn of Justice,"[Action, Adventure, Fantasy]",209112,7004,5.7
10,Superman Returns,"[Adventure, Fantasy, Action, Science Fiction]",1452,1400,5.4
11,Quantum of Solace,"[Adventure, Action, Thriller, Crime]",10764,2965,6.1

In [37]:
checking = movies
checking = checking.drop('genres',1).join(checking.genres.str.join('|').str.get_dummies())
checking

/var/folders/bd/0d2v_7mn4wl3rxllb0m23s2r0000gn/T/ipykernel_6432/1765466577.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  checking = checking.drop('genres',1).join(checking.genres.str.join('|').str.get_dummies())

,title,id,vote_count,vote_average,Action,Adventure,Animation,Comedy,Crime,Documentary,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,Avatar,19995,11800,7.2,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,Pirates of the Caribbean: At World's End,285,4500,6.9,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Spectre,206647,4466,6.3,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,The Dark Knight Rises,49026,9106,7.6,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,John Carter,49529,2124,6.1,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4769,El Mariachi,9367,238,6.6,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4770,Newlyweds,72766,5,5.9,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4771,"Signed, Sealed, Delivered",231617,6,7.0,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
4772,Shanghai Calling,126186,7,5.7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4773,My Date with Drew,25975,16,6.3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [38]:
checking.to_csv("Filtering_movies.csv")

In [39]:
def best_one(df):
    import math
    x1 = math.exp(df['vote_count']//1000)
    x2 = df['vote_count']%1000 * 7
    x3 = df['vote_average']*13
    return math.log(x1+x2+x3)

In [40]:
def select(selection):
    df = pd.read_csv('Filtering_movies.csv')
    for i in selection:
        df = df[df[i]==1]

    df = df[['id','title','vote_count','vote_average']]
    df['sorting_column'] = df.apply(lambda x: best_one(x),axis = 1)
    return df.sort_values('sorting_column',ascending=False).head(10)

In [41]:
select(['Action','Fantasy','Romance'])

,id,title,vote_count,vote_average,sorting_column
777,123553,The Mortal Instruments: City of Bones,1602,6.2,8.365746
81,102651,Maleficent,4496,7.0,8.193566
50,9543,Prince of Persia: The Sands of Time,2317,6.2,7.743699
1674,2008,The Promise,29,5.0,5.594711
2682,15173,Jonah: A VeggieTales Movie,22,6.4,5.473111

In [42]:
select(['TV Movie'])

,id,title,vote_count,vote_average,sorting_column
3840,205321,Sharknado,476,3.8,8.126341
4686,13187,A Charlie Brown Christmas,153,7.5,7.064332
3806,158150,How to Fall in Love,20,5.2,5.340419
3941,22488,Love's Abiding Joy,12,5.8,5.077671
4771,231617,"Signed, Sealed, Delivered",6,7.0,4.897840
3664,78814,We Have Your Husband,3,5.0,4.465908
3728,10947,High School Musical,1000,6.1,4.406942

In [43]:
import math
math.log(100//1000*7109+100%1000*7+9*13)

6.705639094860003

In [44]:
math.log(((500//1000)+1)*7109+500%1000*7+9*13)

9.280425979542871

In [45]:
math.log(((1100//1000)+1)*7109+1100%1000*7+9*13)

9.61813609542263

In [46]:
999*7

6993

In [47]:
import requests
def fetch_poster(movie_id):
    response = requests.get(
        'https://api.themoviedb.org/3/movie/{}?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US'.format(movie_id))
    data = response.json()
    return "https://image.tmdb.org/t/p/w500/" + data['poster_path']

In [48]:
# ans = []
# for i in movies['id']:
#     print(i)
#     try:
#         fetch_poster(i)
#     except:
#         ans.append(i)

In [49]:
# ans

In [50]:
# xyzzz11 = pd.read_csv("tmdb_5000_movies.csv")
# xyzzz11.shape

In [51]:
# for i in range(4803):
#     if xyzzz11['id'][i] in ans:
#         xyzzz11.drop(i,inplace=True)

In [52]:
# xyzzz11.to_csv("tmdb_5000_movies.csv")